**Задача 44**

В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без
get_dummies?

import random

lst = ['robot'] * 10

lst += ['human'] * 10

random.shuffle(lst)

data = pd.DataFrame({'whoAmI':lst})

data.head()

**Решение:**

**Вариант №1 через get_dummies:**

In [1]:
import pandas as pd

In [2]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()
pd.get_dummies(data)

    whoAmI_human  whoAmI_robot
0              1             0
1              0             1
2              0             1
3              1             0
4              1             0
5              1             0
6              1             0
7              0             1
8              0             1
9              0             1
10             1             0
11             0             1
12             0             1
13             1             0
14             0             1
15             1             0
16             1             0
17             0             1
18             0             1
19             1             0

**Вариант №2 без get_dummies:**

In [3]:
import random
import numpy as np # подключаем библиотеку numpy для работы с числовыми массивами, векторами и матрицами
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data['human'] = np.where(data['whoAmI'] == 'human', '1','0')
data['robot'] = np.where(data['whoAmI'] == 'robot', '1','0')
data.drop(columns=['whoAmI'],axis=1,inplace=True) # удаляем 1-й столбец axis=1, inplace=True (inplace - логический параметр,true выполняет операцию на месте)
data.head(20)

   human robot
0      1     0
1      1     0
2      0     1
3      0     1
4      0     1
5      1     0
6      0     1
7      1     0
8      0     1
9      1     0
10     1     0
11     0     1
12     0     1
13     0     1
14     1     0
15     1     0
16     0     1
17     1     0
18     0     1
19     1     0